.presentation {
  display: flex;
  gap: 87px;
  align-items: flex-start;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 593px;
}

.about-title {
  color: #fff;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}

.about-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.my-image {
  width: 580px;
  height: auto;
  border-radius: 50px;
}